:root {
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
	Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--dark-color: #131314;
	--light-color: #fff;
	--color-primary: #44f;
	--color-primary-opposite: #fff;
	--color-highlight: rgba(68, 68, 255, 0.1);
	--color-error: #f44;
	--color-error-light: rgba(255, 68, 68, 0.1);
	--main-text-color: var(--dark-color);
	--main-background-color: var(--light-color);
	--subtle-text-color: #707071;
	--text-input-background-color: #f5f5f6;
	--button-background-color: var(--text-input-background-color);
	--button-disabled-background-color: var(--subtle-text-color);
	--button-selected-background-color: #fff;
	--button-selected-text-color: var(--color-primary);
	--list-item-divider-color: #e5e5e6;
	--border-radius: 5px;
	--border-radius-pill: 100px;
	--font-size: 18px;
	--font-size-large: 22px;
	--font-size-small: 14px;
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-text-color: var(--light-color);
		--main-background-color: var(--dark-color);
		--subtle-text-color: #818182;
		--button-background-color: #525253;
		--button-selected-background-color: #686869;
		--text-input-background-color: #343435;
		--list-item-divider-color: var(--text-input-background-color);
	}
}

body {
	margin: 0;
	color: var(--main-text-color);
	font-size: var(--font-size);
	background: var(--main-background-color);
	font-family: var(--font-family-sans-serif);
	line-height: 140%;
}

#main {
	max-width: 500px;
	min-width: 240px;
	margin: 0 auto;
	padding: 12px;
}
@media (min-width: 500px) and (min-height: 780px) {
	#main {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
}

#logo {
	width: 72px;
	height: 72px;
	border-radius: var(--border-radius-pill);
	margin-right: 16px;
}

h1 {
	font-size: 32px;
}
h2 {
	font-size: var(--font-size);
	margin-bottom: 8px;
}
h2 + p {
	margin-top: 0;
}



a, a:link, a:visited {
	color: var(--color-primary);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	background: var(--color-primary);
	color: var(--color-primary-opposite) !important;
	border: 2px solid var(--color-primary);
	border-radius: var(--border-radius-pill);
	font-weight: bold;
	outline: none;
}
.button:hover,
.button:focus {
	text-decoration: none;
	background: var(--main-background-color);
	color: var(--color-primary) !important;
}

.button-secondary {
	display: inline-block;
	padding: 10px 20px;
	margin-left: -20px;
	margin-top: -10px;
	color: var(--color-primary) !important;
	border-radius: var(--border-radius-pill);
}
.button-secondary:hover,
.button-secondary:focus {
	text-decoration: none;
	background: var(--color-highlight);
	outline: none;
}

.center {
	text-align: center;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid var(--divider-color);
}

.descriptions {
	padding: 36px 0;
}

.descriptions .emojis,
.descriptions h2 {
	text-align: center;
}

.descriptions p {
	color: var(--subtle-text-color);
}

.emojis {
	font-size: var(--font-size-large);
}



.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding: 8px;
}
.column:first-child {
	padding-right: 16px;
}

@media screen and (min-width: 500px) {
	.column {
		flex: 1;
	}
}
