@font-face {
	font-family: SourceSansPro-Regular;
	src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: SourceSansPro-Semibold;
	src: url('fonts/SourceSansPro-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	color: #131313;
	font-size: 18px;
	background: #f2f2f2;
	font-family: SourceSansPro-Regular, sans-serif;
}

#main {
	max-width: 500px;
	min-width: 320px;
	margin: 0 auto;
	padding: 10px;
}
@media (min-width: 500px) and (min-height: 780px) {
	#main {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
}

#logo {
	width: 80px;
	border-radius: 100px;
	vertical-align: middle;
	text-align: center;
}

h1,
strong {
	font-family: SourceSansPro-Semibold;
	font-weight: normal;
}

a, a:link, a:visited {
	color: #44f;
	text-decoration: none;
}

.button {
	display: inline-block;
	padding: 10px 12px;
	width: 40%;
    background: #44f;
    color: #fff !important;
    border-radius: 3px;
	font-weight: bold;
	margin-bottom: 80px;
}

.center {
	text-align: center;
}

hr {
	border-color: rgba(50,50,50,.1);
}

#main div {
	color: #aaa;
}
