:root {
	--color-cta: #44f;
	--color-cta-opposite: #fff;
	--main-text-color: #131313;
	--main-background-color: #f5f5f5;
	--subtle-text-color: #707070;
	--divider-color: #e5e5e5;
}

@font-face {
	font-family: SourceSansPro;
	font-display: optional;
	src: url("./fonts/sourcesanspro-regular.otf.woff2") format("woff2"),
		url("./fonts/sourcesanspro-regular.otf.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: SourceSansPro;
	font-display: optional;
	src: url("./fonts/sourcesanspro-semibold.otf.woff2") format("woff2"),
		url("./fonts/sourcesanspro-semibold.otf.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0;
	color: var(--main-text-color);
	font-size: 18px;
	background: var(--main-background-color);
	font-family: SourceSansPro, sans-serif;
}

#main {
	max-width: 500px;
	min-width: 320px;
	margin: 0 auto;
	padding: 10px;
}
@media (min-width: 500px) and (min-height: 780px) {
	#main {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
}

#logo {
	width: 80px;
	border-radius: 100px;
	vertical-align: middle;
	text-align: center;
}

a, a:link, a:visited {
	color: var(--color-cta);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.button {
	display: inline-block;
	padding: 10px 12px;
	width: 40%;
	background: var(--color-cta);
	color: var(--color-cta-opposite) !important;
	border-radius: 5px;
	font-weight: bold;
}

.center {
	text-align: center;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid var(--divider-color);
}

#main div {
	color: var(--subtle-text-color);
}
